{% if post.tags contains "selected" %}
<div class="card flex-row mb-3">
  <div class="card-header border-0">
    <img class="img-responsive d-none d-md-block" src="//placehold.it/100" alt="">
  </div>
  <div class="card-block px-2 pt-3">
    <h4 class="card-title">Title</h4>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor lacus nec elementum
      malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor lacus nec elementum malesuada.
    </p>
  </div>
</div>